# Deployed PaymentGateway Contract Address
VITE_CONTRACT_ADDRESS=

# Explorer Base URL (must end with /address/)
VITE_EXPLORER_URL=https://amoy.polygonscan.com/address/

# Example for Localhost: 0x5FbDB2315678afecb367f032d93F642f64180aa3
# Example for Polygon Amoy: 0x...
